# https://raw.githubusercontent.com/mlflow/mlflow/master/requirements/gateway-requirements.txt

pytest
pytest-kubernetes
pytest-dotenv
testcontainers-postgres
aiomqtt
pytest-asyncio
httpx
ruff
# already pulled in by testcontainers, but we need it separately too
# ALSO: https://github.com/docker/docker-py/issues/3240
docker<7
# ugh..https://github.com/docker/docker-py/issues/2230
python-on-whales
-r ../services/deployments/requirements.txt
-r ../services/tracking/requirements.txt
-r ../services/multiserver/requirements.txt
